{% extends "tasks/base.html" %}
{% block title %}Habits{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Habits</h2>
    {% if request.user.groups.filter(name="users").exists %}
      <a href="{% url 'tasks:habit_create' %}" class="btn btn-primary">Add Habit</a>
    {% endif %}
</div>
{% if habits %}
    <ul class="list-group">
        {% for habit in habits %}
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <span>{{ habit.name }}</span>
                <div class="d-flex align-items-center">
                    {% if request.user.groups.filter(name__in=["admin","dev"]).exists %}
                      <form action="{% url 'tasks:habit_delete' habit.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-info text-center">
        No habits yet.
    </div>
{% endif %}
{% endblock %}
